<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/styling :: head-style"></div>
    <title>Edit Blog Post</title>
</head>
<body>
<div th:replace="/fragments/navbar :: navbar"></div>
<div class="container">
    <div class="header">
        Edit Blog Post
    </div>
    <form action="#" th:action="@{~/blogposts/update/{id}(id=${blogPost.getId()})}" th:object="${blogPost}" method="post">

        <div class="form-group">
            <input type="text" class="form-control"  th:field="*{title}" />
        </div>

        <div class="form-group">
            <input type="text" class="form-control"  th:field="*{author}" />
        </div>

        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" th:field="*{blogEntry}"></textarea>
        </div>

        <button class="btn btn-primary">Submit Your Post</button>
    </form>
</div>



<div th:replace="/fragments/styling :: body-links"></div>
</body>
</html>